/* Color scheme:
#DDAF94 - dark peach
#E8CEBF - light peach
#266150 - forest green
#4F4846 - dark grey
#FDF8F5 - white */
html,
body {
  font-family: "Roboto Slab", serif;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5 {
  color: #4f4846; }

#navbar-home {
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100px;
  z-index: 1; }
  #navbar-home .faNav {
    color: #ddaf94;
    padding: 10px 10px 10px 10px;
    text-align: right; }
  #navbar-home a:hover {
    font-weight: bold;
    color: #ddaf94; }
  #navbar-home h3 {
    color: #ddaf94; }
  #navbar-home h3:hover {
    font-weight: bold;
    color: #ddaf94; }
  #navbar-home .dropdown-menu {
    background-color: #4f484675;
    border-radius: 4px; }
  #navbar-home .dropdown-item {
    color: #ddaf94; }
  #navbar-home .dropdown-item:hover {
    font-weight: bold;
    background-color: #4f484675; }
  #navbar-home i:hover {
    font-weight: bold;
    color: #ddaf94; }
  #navbar-home .nav-link {
    color: #ddaf94; }

#navbar-secondary {
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100px; }
  #navbar-secondary .faNav {
    color: #4f4846;
    padding: 6px;
    text-align: right; }
  #navbar-secondary a:hover {
    font-weight: bold;
    color: #4f4846; }
  #navbar-secondary h3 {
    color: #4f4846; }
  #navbar-secondary h3:hover {
    font-weight: bold;
    color: #4f4846; }
  #navbar-secondary .dropdown-menu {
    background-color: #4f484675;
    border-radius: 4px; }
  #navbar-secondary .dropdown-item {
    color: #4f4846; }
  #navbar-secondary .dropdown-item:hover {
    font-weight: bold; }
  #navbar-secondary i:hover {
    font-weight: bold;
    color: #4f4846; }
  #navbar-secondary .nav-link {
    color: #4f4846; }

.navbar-brand {
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 1; }

#toggler-home {
  color: #ddaf94; }

#toggler-secondary {
  color: #4f4846; }
  #toggler-secondary :hover {
    color: #4f4846 !important; }

@media screen and (max-width: 768px) {
  .navbar-brand {
    display: none !important; }
  .navbar-nav {
    background-color: #4f484675;
    max-width: 80px;
    border-radius: 4px;
    margin-left: 2px !important; }
  #navbar-secondary {
    z-index: 1; }
    #navbar-secondary .faNav {
      color: #ddaf94;
      padding: 10px 10px 10px 10px;
      text-align: right; }
    #navbar-secondary a:hover {
      font-weight: bold;
      color: #ddaf94; }
    #navbar-secondary h3 {
      color: #ddaf94; }
    #navbar-secondary h3:hover {
      font-weight: bold;
      color: #ddaf94; }
    #navbar-secondary .dropdown-menu {
      background-color: #4f484675;
      border-radius: 4px; }
    #navbar-secondary .dropdown-item {
      color: #ddaf94; }
    #navbar-secondary .dropdown-item:hover {
      font-weight: bold;
      background-color: #4f484675; }
    #navbar-secondary i:hover {
      font-weight: bold;
      color: #ddaf94; }
    #navbar-secondary .nav-link {
      color: #ddaf94; } }

.mainTextBold {
  font-weight: bold; }

.imageMain {
  max-height: 25%; }

.imageMedia {
  max-width: 25%; }

.img-thumbnail {
  background-color: #4f4846; }

#homeCarousel {
  width: 100%;
  margin-bottom: 0; }
  #homeCarousel .carousel,
  #homeCarousel .carousel-inner {
    max-height: 100vh;
    margin-bottom: 0; }

#carouselContainer {
  max-height: 100vh; }
  #carouselContainer a {
    margin-top: 20%;
    max-height: 20%;
    margin-left: 5%;
    margin-right: 5%; }

#homeBlurb {
  background-color: #ddaf94; }

#aboutHeading {
  text-align: left; }

#aboutParagraph {
  text-align: left;
  display: inline-block; }

#aboutContainer {
  text-align: left;
  display: inline-block; }

#aboutPhoto {
  max-height: 800px; }

#bookingRow {
  background-color: #e8cebf;
  padding-top: 70px; }

#bookingContainer {
  margin-top: 10px; }

#bookingSubmit:hover {
  background-color: #ddaf94;
  color: #4f4846;
  border-color: #4f4846; }

.btn-primary {
  background-color: #4f4846;
  border-color: #266150;
  margin-bottom: 10px; }

#collageRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 8px;
  background-color: #e8cebf; }

#collageCol {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }
  #collageCol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; }

@media screen and (max-width: 768px) {
  #collageCol {
    flex: 50%;
    max-width: 50%; } }

@media screen and (max-width: 600px) {
  #collageCol {
    flex: 100%;
    max-width: 100%; } }

footer {
  border-top: 4px solid #4f4846;
  background-color: #ddaf94;
  box-shadow: 0 50vh 0 50vh #ddaf94; }
  footer a {
    color: #4f4846; }
  footer i {
    color: #4f4846; }
  footer a:hover {
    font-weight: bold;
    color: #4f4846;
    text-decoration: none; }
  footer i:hover {
    font-weight: bold; }
