/* Color scheme:
#DDAF94 - dark peach
#E8CEBF - light peach
#266150 - forest green
#4F4846 - dark grey
#FDF8F5 - white */
$color-mainDk: #ddaf94;
$color-mainLt: #e8cebf;
$color-secondary: #266150;
$color-altDk: #4f4846;
$color-white: #fdf8f5;

$body-font: "Roboto Slab", serif;

html,
body {
  font-family: $body-font;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-altDk;
}

.navbar {
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  .faNav {
    color: $color-white;
    padding: 6px;
  }
  a:hover {
    font-weight: bold;
    color: $color-altDk;
  }
  h3 {
    color: $color-white;
  }
  h3:hover {
    font-weight: bold;
    color: $color-altDk;
  }
  .dropdown-menu {
    background-color: $color-mainDk;
  }
  i:hover {
    font-weight: bold;
    color: $color-altDk;
  }
  .nav-link {
    color: $color-white;
  }
}

#aboutHeading {
  text-align: left;
}

#aboutParagraph {
  text-align: left;
}

.mainTextBold {
  font-weight: bold;
}

.imageMain {
  max-height: 25%;
}

.imageMedia {
  max-width: 25%;
}

.img-thumbnail {
  background-color: $color-altDk;
}

#bookingContainer {
  margin-top: 10px;
}

#bookingSubmit:hover {
  background-color: $color-mainDk;
  color: $color-altDk;
  border-color: $color-altDk;
}

footer {
  border-top: 4px solid $color-altDk;
  background-color: $color-mainDk;
  a {
    color: $color-altDk;
  }
  i {
    color: $color-altDk;
  }
  a:hover {
    font-weight: bold;
    color: $color-altDk;
    text-decoration: none;
  }
  i:hover {
    font-weight: bold;
  }
}

.btn-primary {
  background-color: $color-altDk;
  border-color: $color-secondary;
  margin-bottom: 10px;
}

#homeCarousel {
  width: 100%;
  margin-bottom: 0;
  .carousel,
  .carousel-inner {
    max-height: 100vh;
    margin-bottom: 0;
  }
}

#carouselContainer {
  max-height: 100vh;
  a {
    margin-top: 20%;
    max-height: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .carousel-caption {
    top: 32%;
    bottom: initial;
    background-color: rgba(79, 72, 70, 0.4);
    p {
      color: $color-white;
    }
    h3 {
      color: $color-white;
    }
  }
}

// start css for portfolio collage below
#collageRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 8px;
}

/* Create four equal columns that sits next to each other */
#collageCol {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}

.dropdown-item:hover {
  font-weight: bold;
  background-color: $color-mainDk;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #collageCol {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #collageCol {
    flex: 100%;
    max-width: 100%;
  }
}
// end css for portfolio collage above
