/* Color scheme:
#DDAF94 - dark peach
#E8CEBF - light peach
#266150 - forest green
#4F4846 - dark grey
#FDF8F5 - white */
body {
  font-family: "Roboto Slab", serif;
  background-color: #e8cebf; }

h1,
h2,
h3,
h4,
h5 {
  color: #4f4846; }

.navbar {
  padding: 0;
  border-bottom: solid 4px #4f4846;
  background-color: #fdf8f5; }
  .navbar .faNav {
    color: #4f4846;
    padding: 6px; }
  .navbar a:hover {
    font-weight: bold;
    color: #4f4846; }
  .navbar h3:hover {
    font-weight: bold;
    color: #4f4846; }
  .navbar .dropdown-menu {
    background-color: #ddaf94; }
  .navbar i:hover {
    font-weight: bold; }
  .navbar .nav-link {
    color: #4f4846; }

.mainTextBold {
  font-weight: bold; }

.imageMain {
  max-height: 25%; }

.imageMedia {
  max-width: 25%; }

.img-thumbnail {
  background-color: #4f4846; }

footer {
  border-top: 4px solid #4f4846;
  background-color: #fdf8f5; }
  footer a {
    color: #4f4846; }
  footer i {
    color: #4f4846; }
  footer a:hover {
    font-weight: bold;
    color: #4f4846;
    text-decoration: none; }
  footer i:hover {
    font-weight: bold; }

.btn-primary {
  background-color: #4f4846;
  border-color: #266150;
  margin-bottom: 10px; }

#carouselContainer span {
  margin: 0; }

#carouselContainer .carousel-caption {
  top: 0;
  bottom: auto;
  background-color: rgba(79, 72, 70, 0.4); }
  #carouselContainer .carousel-caption p {
    color: #fdf8f5; }
  #carouselContainer .carousel-caption h1 {
    color: #fdf8f5; }

#collageRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 8px; }

/* Create four equal columns that sits next to each other */
#collageCol {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }
  #collageCol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; }

.dropdown-item:hover {
  font-weight: bold;
  background-color: #ddaf94; }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #collageCol {
    flex: 50%;
    max-width: 50%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #collageCol {
    flex: 100%;
    max-width: 100%; } }
