/* Color scheme:
#DDAF94 - dark peach
#E8CEBF - light peach
#266150 - forest green
#4F4846 - dark grey
#FDF8F5 - white */
body {
  font-family: "Roboto Slab", serif;
  background-color: #e8cebf; }

h1,
h2,
h3,
h4,
h5 {
  color: #4f4846; }

.navbar {
  padding: 0;
  border-bottom: solid 4px #4f4846;
  background-color: #fdf8f5; }
  .navbar .faNav {
    color: #4f4846;
    padding: 6px; }

.mainTextColor {
  color: #4f4846; }

.mainTextBold {
  font-weight: bold; }

.imageMain {
  max-height: 25%; }

.imageMedia {
  max-width: 25%; }

.img-thumbnail {
  background-color: #4f4846; }

footer {
  border-top: 4px solid #4f4846;
  background-color: #fdf8f5; }
  footer .faFooter {
    color: #4f4846; }
  footer ul a {
    color: #4f4846; }

.btn-primary {
  background-color: #4f4846;
  border-color: #266150;
  margin-bottom: 10px; }

#collageRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px; }

/* Create four equal columns that sits next to each other */
#collageCol {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px; }
  #collageCol img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%; }
  #collageCol img:hover {
    color: #424242;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    opacity: 1;
    transform: scale(1.15);
    -ms-transform: scale(1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15);
    /* Safari and Chrome */ }

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  #collageCol {
    flex: 50%;
    max-width: 50%; } }

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  #collageCol {
    flex: 100%;
    max-width: 100%; } }
