/* Color scheme:
#DDAF94 - dark peach
#E8CEBF - light peach
#266150 - forest green
#4F4846 - dark grey
#FDF8F5 - white */
$color-mainDk: #ddaf94;
$color-mainLt: #e8cebf;
$color-secondary: #266150;
$color-altDk: #4f4846;
$color-white: #fdf8f5;

$body-font: "Roboto Slab", serif;

html,
body {
  font-family: $body-font;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-altDk;
}

#navbar-home {
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  .faNav {
    color: $color-mainDk;
    padding: 10px 10px 10px 10px;
    text-align: right;
  }
  a:hover {
    font-weight: bold;
    color: $color-mainDk;
  }
  h3 {
    color: $color-mainDk;
  }
  h3:hover {
    font-weight: bold;
    color: $color-mainDk;
  }
  .dropdown-menu {
    background-color: #4f484675;
    border-radius: 4px;
  }
  .dropdown-item {
    color: $color-mainDk;
  }
  .dropdown-item:hover {
    font-weight: bold;
    background-color: #4f484675;
  }
  i:hover {
    font-weight: bold;
    color: $color-mainDk;
  }
  .nav-link {
    color: $color-mainDk;
  }
}

#navbar-secondary {
  position: absolute;
  top: 0px;
  right: 0;
  width: 100%;
  height: 100px;
  .faNav {
    color: $color-altDk;
    padding: 6px;
    text-align: right;
  }
  a:hover {
    font-weight: bold;
    color: $color-altDk;
  }
  h3 {
    color: $color-altDk;
  }
  h3:hover {
    font-weight: bold;
    color: $color-altDk;
  }
  .dropdown-menu {
    background-color: #4f484675;
    border-radius: 4px;
  }
  .dropdown-item {
    color: $color-altDk;
  }
  .dropdown-item:hover {
    font-weight: bold;
  }
  i:hover {
    font-weight: bold;
    color: $color-altDk;
  }
  .nav-link {
    color: $color-altDk;
  }
}

.navbar-brand {
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 1;
}

#toggler-home {
  color: $color-mainDk;
}

#toggler-secondary {
  color: $color-altDk;
  :hover {
    color: $color-altDk !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar-brand {
    display: none !important;
  }
  .navbar-nav {
    background-color: #4f484675;
    max-width: 80px;
    border-radius: 4px;
    margin-left: 2px !important;
  }
  #navbar-secondary {
    z-index: 1;
    .faNav {
      color: $color-mainDk;
      padding: 10px 10px 10px 10px;
      text-align: right;
    }
    a:hover {
      font-weight: bold;
      color: $color-mainDk;
    }
    h3 {
      color: $color-mainDk;
    }
    h3:hover {
      font-weight: bold;
      color: $color-mainDk;
    }
    .dropdown-menu {
      background-color: #4f484675;
      border-radius: 4px;
    }
    .dropdown-item {
      color: $color-mainDk;
    }
    .dropdown-item:hover {
      font-weight: bold;
      background-color: #4f484675;
    }
    i:hover {
      font-weight: bold;
      color: $color-mainDk;
    }
    .nav-link {
      color: $color-mainDk;
    }
  }
}

.mainTextBold {
  font-weight: bold;
}

.imageMain {
  max-height: 25%;
}

.imageMedia {
  max-width: 25%;
}

.img-thumbnail {
  background-color: $color-altDk;
}

#homeCarousel {
  width: 100%;
  margin-bottom: 0;
  .carousel,
  .carousel-inner {
    max-height: 100vh;
    margin-bottom: 0;
  }
}

#carouselContainer {
  max-height: 100vh;
  a {
    margin-top: 20%;
    max-height: 20%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

#homeBlurb {
  background-color: $color-mainLt;
}

#aboutHeading {
  text-align: left;
}

#aboutParagraph {
  text-align: left;
  display: inline-block;
}

#aboutContainer {
  text-align: left;
  display: inline-block;
}

#aboutPhoto {
  max-height: 800px;
}

#bookingRow {
  background-color: $color-mainLt;
  padding-top: 70px;
}

#bookingContainer {
  margin-top: 10px;
}

#bookingSubmit:hover {
  background-color: $color-mainDk;
  color: $color-altDk;
  border-color: $color-altDk;
}

.btn-primary {
  background-color: $color-altDk;
  border-color: $color-secondary;
  margin-bottom: 10px;
}

// portfolio collage
#collageRow {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  padding-bottom: 8px;
  background-color: $color-mainLt;
}

// create four equal columns that sits next to each other
#collageCol {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
}

// responsive layout - makes a two column-layout instead of four columns
@media screen and (max-width: 768px) {
  #collageCol {
    flex: 50%;
    max-width: 50%;
  }
}

// responsive layout - makes the two columns stack on top of each other instead of next to each other
@media screen and (max-width: 600px) {
  #collageCol {
    flex: 100%;
    max-width: 100%;
  }
}

footer {
  border-top: 4px solid $color-altDk;
  background-color: $color-mainDk;
  box-shadow: 0 50vh 0 50vh $color-mainDk;
  a {
    color: $color-altDk;
  }
  i {
    color: $color-altDk;
  }
  a:hover {
    font-weight: bold;
    color: $color-altDk;
    text-decoration: none;
  }
  i:hover {
    font-weight: bold;
  }
}